<!-- addData.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter des données</title>

    <style>
        /* Pour masquer les formulaires initialement */
        form {
            display: none;
        }
    </style>
    
</head>
<body>
    <button onclick="toggleForm('icecreamForm')">Ajouter une glace</button>
    <button onclick="toggleForm('toppingForm')">Ajouter un topping</button>
    
    
    <form id="icecreamForm" action="/addIcecream" method="POST">
        <h1>Ajouter Une Glace</h1>
        <label for="icecream_brand">Marque de la glace :</label>
        <input type="number" id="icecream_brand" name="icecream_brand" required>
        <br>

        <label for="icecream_name">Nom de la glace :</label>
        <input type="text" id="icecream_name" name="icecream_name" required>
        <br>

        <label for="icecream_baseprice">Prix de la glace :</label>
        <input type="number" id="icecream_baseprice" name="icecream_baseprice" required>
        <br>

        <label for="icecream_calory">Calorie de la glace :</label>
        <input type="number" id="icecream_calory" name="icecream_calory" required>
        <br>

        <label for="icecream_stock">Stock de la glace :</label>
        <input type="number" id="icecream_stock" name="icecream_stock" required>
        <br>

        <label for="icecream_description">Description de la glace :</label>
        <input type="text" id="icecream_description" name="icecream_description" required>
        <br>

        <label for="icecream_image">Image de la glace :</label>
        <input type="text" id="icecream_image" name="icecream_image" required>
        <br>

        <button type="submit">Ajouter</button>
    </form>
    
    <form id="toppingForm" action="/addTopping" method="POST">
        <h1>Ajouter Un Topping</h1>
        <label for="topping_name">Nom du topping :</label>
        <input type="text" id="topping_name" name="topping_name" required>
        <br>
    
        <label for="topping_price">Prix du topping :</label>
        <input type="number" id="topping_price" name="topping_price" required>
        <br>
    
        <label for="topping_calory">Calorie du topping :</label>
        <input type="number" id="topping_calory" name="topping_calory" required>
        <br>
    
        <label for="topping_stock">Stock du topping :</label>
        <input type="number" id="topping_stock" name="topping_stock" required>
        <br>
    
        <label for="topping_description">Description du topping :</label>
        <input type="text" id="topping_description" name="topping_description" required>
        <br>
    
        <label for="topping_image">Image du topping :</label>
        <input type="text" id="topping_image" name="topping_image" required>
        <br>
    
        <button type="submit">Ajouter Topping</button>
    </form>

    <script>
        let currentForm = null;

        function toggleForm(formId) {
            const form = document.getElementById(formId);
            
            if (currentForm && currentForm !== form) {
                currentForm.style.display = 'none';
            }

            form.style.display = (form.style.display === 'none') ? 'block' : 'none';
            currentForm = form.style.display === 'none' ? null : form;
        }
    </script>
</body>
</html>
