<!-- addData.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter des données</title>
</head>
<body>
    <h1>Ajouter des données</h1>
    <form action="/add" method="POST">
        <label for="icecream_brand">Marque de la glace :</label>
        <input type="number" id="icecream_brand" name="icecream_brand" required>
        <br>

        <label for="icecream_name">Nom de la glace :</label>
        <input type="text" id="icecream_name" name="icecream_name" required>
        <br>

        <label for="icecream_baseprice">Prix de la glace :</label>
        <input type="number" id="icecream_baseprice" name="icecream_baseprice" required>
        <br>

        <label for="icecream_calory">Calorie de la glace :</label>
        <input type="number" id="icecream_calory" name="icecream_calory" required>
        <br>

        <label for="icecream_stock">Stock de la glace :</label>
        <input type="number" id="icecream_stock" name="icecream_stock" required>
        <br>

        <label for="icecream_description">Description de la glace :</label>
        <input type="text" id="icecream_description" name="icecream_description" required>
        <br>

        <label for="icecream_image">Image de la glace :</label>
        <input type="text" id="icecream_image" name="icecream_image" required>
        <br>

        <button type="submit">Ajouter</button>
    </form>
</body>
</html>
icecream_brand, icecream_name, icecream_baseprice,icecream_calory,icecream_stock,icecream_description,icecream_image