<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel="stylesheet" href="/css/register.css">
  <title>Register - Icreamzouz</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Register</h2>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" id="nameInput" required>
                        <label for="nameInput">Name</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" id="emailInput" required>
                        <label for="emailInput">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="location-outline"></ion-icon>
                        <input type="text" id="addressInput" required>
                        <label for="addressInput">Address</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="passwordInput" required>
                        <label for="passwordInput">Password</label>
                    </div>
                    <button>Register</button>
                </form>
            </div>
        </div>
    </section>
    <script src="/js/register.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
